:root{
    --bodyBackground: #e9d2f4;
    --altBackground: #39393A;
    --altTextCol: #b6b6b2;
    --hyperlinkCol: #508ea5;
    --botBorder: #9B9B93;
}

/* Element Styles*/
body{
    background-color: var(--bodyBackground);
    margin: 0;
}

h1{
    font-size: 250%;
    padding: 0 1rem;
}

h2{
    font-size: 150%;
}

ul{
    padding: 0;
}

li{
    text-align: center;
    padding: 10px 30px;
}

a{
    color: var(--hyperlinkCol);
    text-decoration: none;
}

footer{
    background-color: var(--altBackground);
}


/* styling for header */
header{
    color: var(--altTextCol);
    background-color: var(--altBackground);
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
header ul{
    display: inline-flex;
    justify-content: flex-end;
    min-width: 300px;
}


/*styling for photo and bio*/

article{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

article #articleText{
    display: inline;
    max-width: 66%;
}

#articleText p a{
    text-align: center;
}
/*Limits the Avatar size within the container. I found at full size it looked incongruous*/
article figure{
    max-width: 33%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

article figure img{
    width: 66%;
    height: 66%;
}


/* styling for projects keeps them and their content centered & fixed width*/

main{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

main section{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    border-bottom: 2px solid var(--botBorder);
}

main section h2, main section p {
    text-align: center;
}

main section a img{
    width: 100%;
} 

main section a img:hover{
    border: 5px solid var(--altBackground);
}

main section a img:focus{
    border: 5px solid var(--altBackground);
}

/* makes first project biggest */
main section:first-child{
    width: 75%;    
}


/* styling for footer */

#contact{
    display: flex;
    flex-direction: column;
    color: var(--altTextCol);
}

#contact h3{
    display: block;
    width: 100%;
    text-align: center;
}

#contact nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#contact nav ul{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
}


/* media queries  moves to 2 columns and bumps up the avatar size to preserve some scaling*/
@media screen and (max-width: 1000px) {
    header{
        flex-direction: column;
    }
    
    main section{
        width: 48%;
    }
 
    article figure img{
        width: 75%;
        height: 75%;
    }
 
}

/*Moves to 1 column*/
@media screen and (max-width: 650px) {
    header{
        flex-direction: column;
        align-content: center;
        text-align: center;
    }
    header ul{
        align-content: center;
        flex-direction: column;
    }

    header ul li{
        display: block;
        padding: 0.5em 0;
    }
    article figure img{
        height: 100%;
        width: 100%;
    }
    
    article{
        flex-direction: column;
    }
    /*resets the width of all the sections*/
    main section, main section:first-child{
        width: 96%;
    }

    #contact nav ul{
        display: block;
    }

    
}