

/* Element Styles*/
header{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

/* styling for header */

header ul{
    display: inline-flex;
    justify-content: space-between;
    min-width: 300px;
}

header h1{
    font-size: 200%;
}

header a{
    text-decoration: none;
}

/*stlying for photo and bio*/
article{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}
article figure{
    max-width: 33%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

article figure img{
    width: 50%;
    height: 50%;
}

article p{
    display: inline;
    max-width: 66%;
    height:fit-content
}

/* styling for projects */
#work{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#work section{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
}

