:root{
    
}



/* Element Styles*/
body{
    background-color: #e9d2f4;
    margin: 0;
}

header{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #39393A;
}

h1{
    font-size: 250%;
}

h2{
    font-size: 150%;
}

ul{
    padding: 0;
}

a{
    color: #508ea5;
}

footer{
    background-color: #39393A;
}

section p {
    text-align: center;
}

/* styling for header */
header{
    color: #b6b6b2;
}
header ul{
    display: inline-flex;
    justify-content: flex-end;
    min-width: 300px;
}

header ul li{
    padding: 5px 20px;
}

header a{
    text-decoration: none;    
}

/*styling for photo and bio*/
article{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}
article figure{
    max-width: 33%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

article figure img{
    width: 66%;
    height: 66%;
}

article p{
    display: inline;
    max-width: 66%;
    height:fit-content
}

/* styling for projects */
#work{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#work section{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    border-bottom: 2px solid #9B9B93
}

/* makes first project biggest */
#work section:first-child{
    width: 96%;    
}

#work section a{
    width: 100%;
}

#work section a img{
    width: 100%;
}

#work section a img:hover{
    border: 5px solid #39393A;
}

#work section a img:focus{
    border: 5px solid #39393A;
}

#work section h2{
    text-align: center;
}

/* styling for footer */
#contact{
    display: flex;
    flex-direction: column;
    color: #b6b6b2;
}

#contact h3{
    display: block;
    width: 100%;
    text-align: center;
}

#contact nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#contact nav ul{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
}

#contact nav ul li{
    padding: 10px 30px;
}


/* media queries */
@media screen and (max-width: 1000px) {
    header{
        flex-direction: column;
    }
    
    #work section{
        width: 48%;
    }
 
    article figure img{
        width: 75%;
        height: 75%;
    }
 
}

@media screen and (max-width: 650px) {
    header{
        flex-direction: column;
        align-content: center;
        text-align: center;
    }
    header ul{
        align-content: center;
        flex-direction: column;
    }

    header ul li{
        display: block;
        padding: 0.5em 0;
    }
    
    article{
        flex-direction: column;
    }

    #work section{
        width: 96%;
    }

    #contact nav ul{
        display: block;
    }

    #contact nav ul li{
        text-align: center;
    }

}